 

body {
    background: #513939;
}

.container {
    background-color: burlywood;
    display: flex;
    max-width: 1100px;
    margin: 100px auto;
    background:white;

}

.left {
    width: 35%;
    background: #2c3e50;
    color: white;
    padding: 30px;
}

.left h2 {
    margin: 20px 0 10px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.left p, 
.left li {
    font-size: 14px;
    margin: 8px 0;
}


.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}
.right {
    width: 65%;
    padding: 30px;
}

.right h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}




